*{
  margin: 0;
  padding: 0;
}
  body {
  margin: 0;
   font-family: Inter, sans-serif;
   background-color: rgb(32, 32, 32);
   height: 100vh;

}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  .9em;
  background-color: rgb(25, 25, 25);
  color: white;
}
nav img {
  width: 60px;
}
main {
  color: white;
  padding: 2em;
  background-image: url(./imgs/logo192.png);
  background-repeat: no-repeat;
background-position: right 75%; 
 background-blend-mode: lighten;

}
main h1 {
  margin-bottom: 1em;
}
main ul {
  list-style: none;
}
main > ul > li {
  margin-bottom: .8em;
  letter-spacing: -.04em;
}
main > ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(8, 194, 197); /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: 0em; /* Also needed for space (tweak if needed) */
}